:root {
    --primary-bg: #000;
    --secondary-bg: #fff;
    --text-color: #fff;
    --text-color-dark: #000;
    --hover-color: #9e1818;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: var(--primary-bg);
    min-height: auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
}
header.sticky {
    padding: 5px 100px;
    background: var(--secondary-bg);
}
header img {
    position: relative;
    max-width: 100%;
    width: 150px;
    height: auto;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
header.sticky .logo, header.sticky ul li a {
    color: var(--primary-bg);
}

header ul li a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

.banner {
    position: relative;
    width: 100%;
    height: 300px;
    background: url("/Images/B1.jpg") no-repeat 70% 15%;
    background-size: 110%;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    padding: 10px 20px;
    pointer-events: none;
}

.custom-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 250px;
    height: 300px;
    gap: 20px;
}
.custom-service-text {
    color: var(--text-color);
    flex: 1;
}
.custom-service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.custom-service-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.drone-service {
    padding: 40px 250px;
}
.drone-service-text {
    color: var(--text-color);
}
.drone-service-1 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    gap: 45px;
}
.drone-service-1-image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.drone-service-1-text {
    color: var(--text-color);
    flex: 1;
}
.drone-service-2 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    gap: 45px;
}
.drone-service-2-image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.drone-service-2-text {
    color: var(--text-color);
    flex: 1;
}
.drone-service-2-text ul {
    padding-left: 20px;
}

.footer {
    color: var(--text-color);
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-info-container {
    flex: 1;
    max-width: 65%;
    font-size: 13px;
}
.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
    transition: color 0.3s;
    transform: 0.3s;
}
.footer-menu a {
    color: var(--text-color);
    text-decoration: none;
}
.footer-menu i:hover {
    color: var(--hover-color);
    transform: scale(1.3);
    cursor: pointer;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .logo {
        margin-bottom: 10px;
    }
    header ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--text-color);
    }
    header ul.active {
        display: flex;
    }
    header ul li {
        width: 100%;
        margin: 10px 0;
    }
    header ul li a {
        color: var(--primary-bg);
    }
    .menuToggle {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        color: var(--text-color-dark);
        position: absolute;
        top: 12px;
        right: 20px;
        z-index: 1001;
        transition: opacity 0.4s ease;
    }
    .menuToggle.visible {
        opacity: 1;
    }
    .menuToggle.hidden {
        opacity: 0;
        pointer-events: none;
    }   
    header.sticky .menuToggle i {
        color: var(--text-color-dark);
    }
    header.sticky {
        padding: 5px 20px;
    }
    header.sticky img {
        width: 100px;
    }
    .banner {
        height: 200px;
        background-position: 75% 10%;
    }
    .banner-text {
        font-size: 1.5em; 
        padding: 5px 15px;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    .custom-service {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .custom-service-image {
        margin-top: 20px;
    }

    .custom-service-text, .custom-service-image {
        flex: none;
        width: 100%;
    }
    .drone-service-1 {
        flex-direction: column;
        align-items: flex-start;
    }
    .drone-service-1-image img {
        max-width: 100%;
    }
    .drone-service-2 {
        flex-direction: column;
        align-items: flex-start;
    }
    .drone-service-2-image img {
        max-width: 100%;
    }
}